<!DOCTYPE html>
<html>
<head>
    <title>Recomendação de Filmes</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema de Recomendação de Filmes</h1>
    <form action="/recomendacao" method="post">
        <label for="genero">Escolha um gênero:</label>
        <select name="genero" id="genero">
            <option value="acao">Ação</option>
            <option value="comedia">Comédia</option>
            <option value="drama">Drama</option>

        </select>
        <input type="submit" value="Recomendar Filmes">
    </form>
</body>
</html>
